@charset "utf-8";

//追加パーツの装飾

.mb {
    margin-bottom: 2em;
}

/*sharehtml*/
.shareHtmlFrame {
    margin: 0 0 2em;

    hr {
      display:none;
    }

    .shareThumb {
        float: left;
        margin: 0 1em 0 0;
        width: 150px;

        .shareThumbImg {
            max-width: 100%;
            height: auto;
            border: 1px solid #d5d5d5;
            padding: 5px;
            background: #f2f2f2;
            box-sizing: border-box;
        }
    }

    .sharemain {
        margin-left: 170px;

        .shop-more-info {
            margin-top: 1em;
            font-size: .85em;

            li {
                margin: 0;
            }
        }
    }

    .shareTitle {
        line-height: 1.3;
    }
}

/*横線のあるスタイル*/
.hr {
    position: relative;
    width: 100%;
    text-align: center;
    align-content:center;
    margin: 2em 0;

    br {
        display: none;
    }

    .line {
        position: absolute;
        top: 50%;
        height: 1px;
        width: 100%;
        background: rgba( $main , .5 );
        left: 0;
    }

    h6 {
        display: inline-block;
        background: #fff;
        margin: 0;
        z-index: 2;
        position: relative;
        color: rgba( $main , .75 );
        font-weight: bold;
        font-size: 1.5em;
    }
}

/* 点滅 */
.blinking{
    -webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

.load {
    position: fixed;
    top: 49.5%;
    left: 49.5%;
    z-index: -3;
}

.main-title {
    font-weight: 600;
}


/*メンバー紹介*/
.member {

    >ul {

        >li {

            &:after {
                content: "";
                clear: both;
                display: block;
            }

            &:last-child {
                display: none;
            }

        }
    }

    .member__photo{
        background: #d5d5d5;
        position: relative;
        margin-bottom: .5em;

        .cover {
            position: absolute;
            z-index: 100;
        }

        img {
            min-width: 100%;
            max-width: 100%;
        }
    }

    .member__name{
        float: left;

        span {
            display: block;

            &.name {

            }

            &.position {
                font-size: .8em;
            }
        }
    }

    .member__sns {
        float: right;
        text-align: right;
        position: relative;

        .member__sns__btn {
            background: $main;
            display: inline-block;
            color: #fff;
            width: 36px;
            text-align: center;
            line-height: 36px;
            height: 36px;
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }

        ul {
            display: none;
            margin-top: .5em;
            position: absolute;
            top: 33px;
            width: 100px;
            right: 10px;

            li {
                display: inline-block;
                margin-left: 10px;
            }
        }
    }

}

.phone-popup {
    text-decoration: underline;
    color: $main;
    position: relative;
    display: inline-block;

    span {
        opacity: 0;
        position: absolute;
        display: block;
        background: rgba( $main , .9 );
        padding: 1em;
        font-size: 2em;
        color: #fff;
        text-shadow: 0 1px 1px #000;
        border-radius: 3px;
        width: 250px;
        text-align: center;
        bottom: 120%;
        @include transition(all .3s ease-in-out 0);
        @include transition-duration(.3s);
    }

    &:hover {

        span {
            opacity: 1;
        }
    }
}


.last-updated {
    background: #f2f2f2;
    color: #bababa;
    padding: .3em;
    font-size: .85em;
    display: inline-block;
    margin-top: 2em;
}

.semantic {
    display: none;
}

.tar {
    text-align: right;
}

.read-later {
    text-align: center;
    margin-top: 1em;
    background: $l-brown;
    padding: 1em 5px 0;
    border: 1px solid $bg-color;


    span {
        display: inline-block;
        margin: 0 .5em 1em;;
        vertical-align: top;

        &.countdown {
            display: table;
            margin: 0 auto 1em;
            margin-bottom: 1em;
            padding: 3px 1em;
            text-align: left;
            background: #EDEDED;
            font-size: .9em;
            font-weight: bold;
        }
    }
}

.btn--twitter {
    font-size: .8em;
    padding: 3px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.71);
    border-radius: 3px;
    background: rgba(227, 229, 231, 0.35);
    border: 1px solid rgba(0, 0, 0, 0.11);
    font-weight: bold;

    .fa.fa-twitter {
        color: #008fde;
    }
}

.btn--map {
    padding: 1em;
    background: $main;
    color: #fff;
    border-radius: 3px;
    float: right;
    text-decoration: none;

    &:after {
        content: "";
        clear: both;
        display: block;
    }

}

.post-type-archive-work article:hover {
    background: none;
}


.scale {
    transform: scale(1.4);
    position: relative;
    left: 20px;
    display: inline-block !important;
}


.flow {

    .content {
        .under-line {
            font-weight: bold;
            border-bottom: 1px solid $l-brown;
        }
    }

}

.side-fav-posts {
    border: 1px solid $l-brown;

    h3 {
        padding: 10px;
        border-bottom: 1px solid $bg-color;
        margin-bottom: 0;
        font-weight: bold;
    }

    ol {
        counter-reset:number;

        li {
            border-top: 1px solid $l-brown;
            padding: 12px;
            position: relative;


            &:hover {
                background: $l-brown;
            }

            &:before {
                counter-increment: number;
                content: counter(number);
                position: absolute;
                left: 0;
                top: 0;
                z-index: 300;
                background: #d5d5d5;
                padding: .5em .8em;
                color: #fff;
            }

            &:nth-child(1) {
                &:before {
                    background: $main;
                }
            }

            &:nth-child(2),&:nth-child(3) {
                &:before {
                    background: $sub;
                }
            }

            &:after {
                content: "";
                clear: both;
                display: block;
            }

            .content-thum{
                width: 100px;
                height: 100px;
                float: left;
                margin: 0 10px 0 0;
                padding: 0;
                min-width: 100px;

                img {
                    max-width: 100%;
                }
            }

            .content-main {
                a {
                    text-decoration: none;
                    color: $d-brown;
                }
            }
        }
    }
}

.omission {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 22em;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

/*apphtml*/
.apphtml {
    margin-bottom: 2em;

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    h3 {
        .apptitle {
            a {
                text-decoration: none;
            }
        }
    }

        .appicon {
            display: block;
            width: 150px;
            height: 150px;
            float: left;
            margin: 0 1em 2em 0;

            a {
                img {
                    border: 1px solid $l-brown;
                    border-radius: 16px;
                }
            }
        }
        .appinfo {
            display: inline-block;

            span {
                display: block;
            }

            &:after {
              content:"";
              display:block;
              clear:both;
            }
        }

        .app-screen {
          display:block;
          text-align:center;
          clear:both;

          img {
            margin:0 auto;
          }
        }

    .app-ss {
        clear: both;
        background: $l-brown;
        padding: 1em 0;
        text-align: center;

        li {
            display: inline-block;
            width: 44%;
            margin: 0 2.3%;

            &:before {
                content: none;
            }

            img {
            }
        }
    }
    .app_dw_bt {
        text-decoration: none;
        background: $main;
        padding: .5em 1em;
        color: #fff;
        display: inline-block;
        float: right;
        border-radius: 3px;

        &:before {
            content: "\f179";
            font-family: FontAwesome;
            margin-right: .3em;
        }
    }
}

/*ポチレバ*/
.pochireba {
    margin-bottom: 2em;

    a {
        .pochi_img {
            display: inline-block;
            border-radius: 10px;
            float: left;
        }
    }

    .pochi_info {
        margin-left: 73px;

        .pochi_name {
            a {
            }
        }
        .pochi_price {
        }
        .pochi_seller {
            a {
            }
        }
        .pochi_time {
        }
        .pochi_post {
            a {
            }
        }
    }
    .pochireba-footer {
    }
}

.crayon-table {
    tbody {
        border: none !important;

        tr {
            td {
                min-width: 0 !important;
            }
        }
    }
}

.post_content {
    overflow: hidden;
}

.acf-map {
    width: 99.5%;
    height: 300px;
    border: #ccc solid 1px;
    margin: 0 0 2em;
}

.acf-map img {
    max-width:none;
}

.mypost {
    width: 300px;
    border: 1px solid #d5d5d5;
    overflow: hidden;
    position: relative;
    margin: 2em 0;

    &:before {
        content: "関連";
        background: $sub;
        padding: 3px;
        position: absolute;
        z-index: 500;
        color: #fff;
        font-weight: bold;
    }

    .mypost__thum {
  overflow: hidden;
}

    .mypost__title {
        padding: 1em;
        border-top: 1px solid #d5d5d5;

        a {
          text-decoration:none;
        }
    }
}

/* カエレバ */
.kaerebalink-box {
  border: 1px solid #d5d5d5;
  padding: 1em;
  background: #f2f2f2;
  margin-bottom: 2em;

  .kaerebalink-image {
    float: left;
width: 90px;
    img {
      max-width:100%;
      height:auto;
    }
    }
    .kaerebalink-info {
    margin-left: 105px;

    a {
      text-text-decoration:none;
    }

        .kaerebalink-name {

            .kaerebalink-powered-date {
        font-size:.7em;

        a {
          color:#666;
        }
            }
        }
        .kaerebalink-detail {
        }
        .kaerebalink-link1 {
      margin-top:1em;

            .shoplinkrakuten,
      .shoplinkamazon {
        display:inline-block;

        a {
          padding: 1em 2em;
          background: #BD0000;
          display: inline-block;
          text-decoration: none;
          color: #fff;
          border-radius:3px;
          font-weight:bold;
          border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  margin: 0 8px 8px 0;
        }
            }
            .shoplinkamazon {
        a {
          background: #FC9A18;
        }
            }
        }
    }
    .booklink-footer {
    }
}

/* blog */

.faceLinkIconBox {
    margin-top: 30px;
    .cnt {
        position: relative;
        float: left;
        margin-top: 30px;
        padding-left: 15px;
        &:before{
                display: block;
                top: 0px;
                position: absolute;
                transform: scale(0.8);
                transition: 0.3s;
        }
        &.bando:before {
            content: url(../img/blog/faceIcon/linkIconFaceBando.png);
        }
        &.ogawa:before {
            top: -55px;
            content: url(../img/blog/faceIcon/linkIconFaceOgawa.png);
        }
        &:hover {
            &:before {
                top: -60px;
                transform: scale(1);
                transition: 0.3s;
            }
            &.ogawa:before {
                top: -100px;
                content: url(../img/blog/faceIcon/linkIconFaceOgawa.png);
            }
        }
    }
}

.sec-mein-head {
    padding: .3em .7em;
    background: darken( $bg-color , 9% );
    color: #000;
    font-weight: bold;
    border-radius: 3px;
    color: $l-brown;
}

/*サイドバーのカテゴリー*/
.side-cat-list {
    ul {
        li {
            a {
                text-decoration: none;
                height: 3em;
                display: block;
                line-height: 3em;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
    }
}

@import "icon/*.png";

@include all-icon-sprites;
