.lt-ie9 {
    .fa,
    .img_sec,
    nav.menu UL LI A:before,
    .read-first H2:before
    {
        display: none !important;
    }
}

.btn-on {
    opacity: 1 !important;
}

.mb-only {
    display: block;

    @media screen and (min-width: 950px) {
        display: none;
    }
}
