@charset "utf-8";

//変数をまとめて格納

//色味のセット
$main: #b71c1c;
$sub: #638199;
$hover_color: rgba( $main, 0.2 );
$bg-color: rgba( $main, 0.04 );
$t_b: rgba(0, 0, 0, 0.26);
$t_w: rgba( 255,255,255,0.7 );
$body_text_color: rgb(110, 91, 91);

//一括で変更
$mmb:2em; //モバイルビューでセクションのマージン
$mb:6.5em; //PCビューセクションのマージン

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

//書体
$body-font :'Roboto', 游ゴシック, YuGothic, Meiryo, sans-serif;

$eng-font : 'Roboto', sans-serif;

$head-font : 'Noto Sans Japanese','Roboto', 游ゴシック, YuGothic, Meiryo, sans-serif;
