@charset "utf-8";

//変数をまとめて格納

//色味のセット
$main: #D32117;
$sub: #638199;
$hover_color: rgba( $main, 0.2 );
$bg-color: rgba( $main, 0.04 );
$t_b: rgba(0, 0, 0, 0.26);
$t_w: rgba( 255,255,255,0.7 );
$body_text_color: rgb(110, 91, 91);

//一括で変更
$mmb:4em; //モバイルビューでセクションのマージン
$mb:6.5em; //PCビューセクションのマージン

//書体
$body-font : 游ゴシック, YuGothic, KoburinaGo-W3-83pv-RKSJ-H, 'こぶりなゴシック W3', KoburinaGoStd-W3, 'こぶりなゴシック Std W3', Helvetica, Arial, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;

$content-font : 'Noto Sans', sans-serif;

$eng-font : 'Roboto', sans-serif;
