@charset "utf-8";

@import "compass";

/*このCSSはSASS+gulp-Compassでコンパイルされてます。*/


/*ブラウザのデフォルトをリセット*/
@import "compass/reset/";

@import "variables";
@import "common";

/*ブレイクポイントタブレット用*/
@media screen and (min-width: 600px) {

    .logo {
        margin-top: 7px;
    }

    h3 {
        &.sub_title {
            font-size:6em;

            span {
            }
        }
    }

    h4.sub_title {
        padding-top:0;
        border-top:none;
    }

    h5 {
        &.sub_title {
            font-size:1.5em;
            text-align:left;

            span {
            }
        }
    }

    .img_sec {
        height: 250px;
        margin-bottom: -1px;
        position: relative;
        z-index: 2;
    }

    .three-one {
        .three{
            margin-right: -2.93%;
            overflow: hidden;

            >li,
            >div {
                text-align: left;
                width: 29.8%;
                margin-right: 2.93%;
                margin-bottom: 4%;
                display: inline-block;
                vertical-align: top;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }


    /*ボタンを設定 600*/
    .btn {
        width: 100%;
        @include border-radius(0);
        background: $sub;
        color: #fff;
        height: 3em;
        line-height: 3em;

        &.to_top {
            color: rgba(255, 255, 255, 0.7);
            background: #000;
            cursor: pointer;
        }

        &:hover {
            background: $main;
            color: #fff;
            @include opacity(1);
        }
    }

    .btn__works {
        border: 1px solid $main;
        background: #fff;
        min-width: 64px;
        padding: 0 8px;
        @include border-radius(4px);
        display: inline-block;
        height: 36px;
        width: auto;
        line-height: 36px;
        color: #fff;
        margin-right: 10px;
        background: $main;

        .fa {
            @include transition(all .3s ease-in-out 0);
            @include transition-duration(.3s);
            margin-left: 0;
            @include opacity(1);
        }

        &:hover {
            background: $main;
            color: #fff;
            @include opacity(1);

            .fa {
                margin-left: 1em;
                @include opacity(1);
            }
        }
    }

    .top-copy {
        display: block;
        color: #000;
        font-size: 1em;
        @include opacity(0.7);
        margin-left: 10px;
        line-height: 1;
        font-family: $head-font;

        .bigtext {
            font-size: 3em;
            line-height: 1;
            font-weight: 200;

            span {
                font-size: .75em;
                font-weight: 300;

                .just {

                }
            }
        }

        .small-text{
            line-height: 1.5;
            margin-top: .7em;
        }
    }

    .work_showcase {
        .three {
            >li {
                height:16em;

                .work_disc {
                    display:none;
                }
            }
        }
    }

    .company-table {
        display: table;
        background: rgba(211, 33, 23, 0.08);
        width: 100%;
        padding: 5px;

        >div {
            border-bottom: 1px solid #fff;
            margin-bottom: 6px;

            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
            }
        }

        dt , dd {
            display: table-cell;
            padding: .6em;
        }

        dt {
            width: 180px;
        }
        dd {

        }
    }

    .page-template-company-prof , .page-template-no-sidebar {
        h2.center {
            text-align: center;
        }
    }

    .thum-just {
        max-width: 77%;
        margin: 0 auto 2em;
    }

    //グリッド4分割カラム
    .col {
        margin-right: -1.77%;

        &:last-child {
            margin-bottom: 0;
        }

        div {
            min-height: 1em;
        }

        li {
            margin-bottom: .3em;

            &:last-child {
                margin-bottom: 0;
            }
        }
        .box_1 , .box_2 , .box_3 {
            float: left;
            margin-right: 1.77%;
            overflow: hidden;

            h3 {
                color: #212121;
            }
        }
        .box_1 {
            width: 48.2%;
        }

        .box_2 {
            width: 48%;
        }

        .box_3 {
            width: 73.24%;
        }
    }

    .cat_list {
        margin: 3em 0;
    }

    /*アーカイブページの調整*/
    .archive {

        article {

            time {
                margin-right: 15px;
            }

            h2.title {
                margin:.3em 0 0;
            }

            section {
                color: #666;
            }
        }
    }

    /*カンマンに出来ることページの調整*/
    .page-template-no-sidebar-php {
        .content {

            .inner {

                h2 {
                    font-weight: bold;
                }

                h4 {
                    font-weight: bold;
                    color: $sub;
                    font-size: 1.7em;
                }
            }

            p , h4 {
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    /*singleページの調整*/
    .under-post-cont {
        .inner {
            position: relative;
        }
        .btns {

            a {
                float: right;
                margin-left: 1em;
            }
        }
    }

    /*お見積もり価格表調整*/
    .price {
        .three-one {
            .three >li {
                width: 96% ;
                display: block ;
            }
        }
    }

    #next a {
        left: 0;
        margin-left: 0;
    }

}//600







/*タブレット横・パソコン用*/
@media screen and (min-width: 950px) {

    /*ボタンを設定 950*/
    .btn {
        height: 6em;
        line-height: 6em;
        margin-right: 0;

        br {
            display: none;
        }

        &.to_top {
            color: rgba(255, 255, 255, 0.7);
            background: #000;
            cursor: pointer;
        }

        &:hover {
            background: $main;
            color: #fff;
            @include opacity(1);
        }
    }

    .btn__works {
        border: 2px solid $main;
        min-width: 64px;
        padding: 3px 10px;
        @include border-radius(4px);
        display: inline-block;
        height: 36px;
        width: auto;
        line-height: 36px;
        color: $main;
        background: #fff;
        margin-right: 10px;

        .fa {
            @include transition(all .3s ease-in-out 0);
            @include transition-duration(.6s);
            margin-left: 0;
            @include opacity(1);
        }

        &:hover {
            border: 2px solid $main;
            background: $main;
            color: #fff;
            @include opacity(1);

            .fa {
                margin-left: 1em;
                @include opacity(1);
            }
        }
    }

    .btn__full {
        height: 8em;
        line-height: 8em;
    }

    h4.sub_title {
        font-size:4.6em;
    }

    h5 {
        &.sub_title {
            font-size:2em;
            position:relative;
            color:rgba(153, 153, 153, 0.67);
            margin-bottom:0;

            &.st1 {
                top:-.8em;
                left:6em;
            }

            &.st2 {
                top: -.6em;
                left: 7em;
            }

        }
    }

    .content_width {
        padding: 0;
        margin: 0 auto 0;
    }

    .content {
        padding: 0 0 3em;

        .inner {
        }
    }

    .breadcrumb {
        padding: 1em;
    }

    .page-title {
        background: $bg-color;
        padding: 1em 1.5em 2em;
    }

    .inner {
        padding: 0 30px;
        max-width: 1024px;
        margin: 0 auto;
    }

    .logo {
        float: left;
    }

    .head {
        overflow: hidden;
    }

    nav.menu {
        display: block;
        float: right;
        margin: 3px 1em 0 0 ;

        ul {
            overflow: hidden;

            li {
                float: left;
                background: none;
                margin-bottom: 0;
                padding:5px;
                font-size:1em;
                height: auto;

                i {
                    display: none;
                }

                &:nth-child(4) {
                    display: block;
                }

                &:hover {
                    background: none;
                }

                a {
                    padding:0;

                    &:hover {
                        background: none;
                    }
                    &:before {
                        display:none;
                    }
                }
            }
        }
    }

    .panel_btn {
        display: none;
    }

    .panel_btn_pc {
        display: block;
        top: 0;
    }

    //グリッド4分割カラム
    .col {
        padding: 0;

        .box_1 {
            width: 22.89%;
        }
    }

    .panel {
        padding: 2em 10px;

        .col {

            h3 {

                .fa {
                    margin-right: .4em;
                    color: $main;
                }
            }

            .box_1 , .box_2 , .box_3 {
                padding: 1em;
                @include box-shadow(0 0 6px rgba(0, 0, 0, 0.15));
                @include border-radius(2px);
                @include min-height (17em);
                background: #fff;
                margin-top: 3px;
                margin-bottom: 3px;
            }
        }
    }

    .head_top_news {
        img {
            display: block;
            &.news_banner_mobile {
                display: none;
            }
        }
    }

    .img_sec {
        img {
            display: block;
            &.news_banner_mobile {
                display: none;
            }
        }
    }

    .top-copy {
        margin-left: 1em;

        p {
            margin-left: initial;
            max-width: 1600px;
        }

        .bigtext {
            padding-top: 10px;
        }
    }

    .img_container {
        height: 280px;
    }

    .index_info {
        display: none;
    }

    .work_showcase {
        .three {
            >li {
                min-height:32em;

                .work_disc {
                    display: block;
                }
            }
        }
    }

    .three-two {
        overflow: hidden;

        .main {
            float: left;
            margin-right: 3.41%;
            width: 62.5%;
        }
        .sub {
            float: right;
            min-width: 300px;
            width: 24.42%;
        }
    }

    .index_news.three-one , .index_blog.three-one {
        overflow: hidden;
        ul.three {
            >li {
                padding: 5px;
                .img_container {
                    width: 150px;
                    height: 150px;
                    img {
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }

                &:hover {
                    background: $l-brown;
                }
            }
        }
    }

    .four-one {
        overflow: hidden;
        margin-right: -1.77%;
        div {
            float: left;
            width: 23.22%;
            min-height: 1em;
            margin-right: 1.77%;
        }
    }

    .social {
        overflow: hidden;
        margin: 10px auto ;
        background: #fff;

        .sns-section {
            float: left;
            background: #fff;
            width: 50%;
            padding: 2em 15px;
            text-align: center;
            height: 750px;

            &:first-child {
                border-right: 5px solid $bg-color;
                margin-bottom:0;
            }

            &:nth-child(2) {
                border-left: 5px solid $bg-color;
            }
        }
    }

    .footer {
    }

    .section {
        margin-bottom:$mb;

        &:last-child {
            margin-bottom:0;
        }

        h2.sec_title {
            text-align: center;
        }

        .align-center {
            display: block;
            margin: 0 auto;
        }
    }

    .cat_list {
        padding: 1em 2em;
    }

    .type-work h1 {
        margin: .3em 0 .6em;
        font-size: 4em;
    }

    .read-first {
        background: url(../img/top-notice.png) no-repeat;
        background-position: 95% 0;
        background-size: 120px;
        -ms-behavior: url(backgroundsize.min.htc);
    }

    /*searchフォーム調整*/
    #searchform {

        .screen-reader-text {
            display: inline-block;
            margin-bottom: .5em;
        }
    }

    /*下層ページの背景*/
    .page {
        .content {
            background-image: url(../img/page-head-01.jpg);
            background-repeat: no-repeat;
            background-position: top right;
            background-size: 300px;
            -ms-behavior: url(backgroundsize.min.htc);
        }

        &.price .content {
            background-image: url(../img/page-head-04.jpg);
        }

        &.company .content {
            background-image: url(../img/page-head-07.jpg);
        }
        &.contact .content {
            background-image: url(../img/page-head-05.jpg);
        }
        &.works .content {
            background-image: url(../img/page-head-02.jpg);
        }
    }

    .post-type-archive-work .content {
        background-image: url(../img/page-head-06.jpg);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 300px;
        -ms-behavior: url(backgroundsize.min.htc);
    }

    /*カンマンに出来ることページの調整*/
    .page-template-no-sidebar-php {
        .content {

            h2 {
                text-align: center;
                margin: 4em 0 2em;

                &:first-child {
                    margin-top: 0;
                }
            }

            p ,h4 {
                max-width: 800px;
            }

            h4 {
                margin: 4em auto 1em;
            }
        }
    }

    .page ,
    .archive,
    .search {
        .content {
            .three-two {
                margin-top: 2em;
            }
        }
    }

    #map_canvas {
        height: 400px;
    }

    /*制作実績single調整*/
    .single-work {
        article {
            padding-top: 2em;
        }
    }

    /*singleページ調整*/
    .single {

        .three-two {
            padding-top: 2.5em;
        }
    }

    .under-post-cont {
        padding-top: 3em;

        .btns {
            overflow: hidden;
            position: absolute;
            top: 2em;
            right: 0;
        }
    }

    /*お問い合わせフォーム調整*/
    .wpcf7-form {

        div {
            display: table;
            width: 100%;

            &.cf {
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }

            dl {
                display: table-row;
            }

            dt,
            dd {
                display: table-cell;
                padding: 1em;
            }

            dt {
                width: 28%;
                border-right: 1px solid rgba(0, 0, 0, 0.2);
                vertical-align: middle;
                font-weight: bold;
            }

            dd {
                width: 70%;

                br {
                    display: none;
                }
            }

            .wpcf7-text ,
            .wpcf7-textarea {
                padding: .3em;
                border: 1px solid rgba(0, 0, 0, 0.08);
                background: #f2f2f2;
                @include border-radius(2px);
                font-size: 1.4em;
                max-width: 90%;
            }

            .wpcf7-textarea {
                height: 4.6em;
            }

            .wpcf7-select {
                font-size: 1.2em;
            }
        }

        .wpcf7-response-output ,
        .wpcf7-validation-errors{
            margin: 0;
            padding: 1em;
        }

        .cf-sbm {
            padding-top: 2em;

            .wpcf7-submit {
                margin: 1em;
                font-size: 1.5em;
                padding: .5em 1em;
                @include border-radius(2px);
                border-radius: 2px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                background: #333;
                @include box-shadow(0 0 5px rgba(0, 0, 0, 0.25));
                color: #fff;
                @include transition(all .3s ease-in-out 0);
                @include transition-duration(.3s);

                &:hover {
                    color: #fff;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    background: rgb(63, 205, 63);
                    @include box-shadow(0 2px 7px rgba(0, 0, 0, 0.5));
                    cursor: pointer;
                }
            }
        }
    }

    .fix {
        width: 300px;
        padding-bottom: 48px;
        display: block;
    }

    /*お見積もり価格表調整*/
    .price {
        .three-one {
            .three >li {
                width: 29.8%;
                display: inline-block;
            }
        }
    }

    /*サイドバーのバナー調整*/
    .banner--square {
        /*正方形のバナー*/
        height: 300px;
    }
    .banner--square-wrap {
        overflow: hidden;
    }

    .single .share ul li {
        margin-right: 15px;
    }

    .single .share ul li.b-line {
        display: none;
    }

    .member > ul > li:last-child {
        display: inline-block;
    }

  .category.category-staff-blog {

    .content {
      background:$bg-color;
    }

    &.archive article {
      overflow: hidden;
      padding: 0;
      border: 1px solid #d5d5d5;
      margin-bottom: 2em;
    }

    .content-thum {
      position: relative;
      float: none;
      width: 100%;
      max-width: 100%;
      padding: 0px;
      overflow:hidden;
      background:#fff;

        img {
            width: 100%;
        }
    }

    .content-main {
      float: none;
      width: 100%;
      margin-left: 0;
      background:#fff;
      overflow: hidden;
      padding: 30px;
    }

    .feat-posts {

      .feat-posts__inner {
        padding: 1.64%;
        background: #fff;

        h3 {
          text-align: center;
          margin-bottom: 10px;
          font-weight: bold;
          color:$main;
        }
      }

      a {
        transition:all .6s ease-in-out;
        transition-duration: .6s;
      }

      ul {
        margin-right: -2.03%;
        overflow: hidden;
        padding:5px;

        li {
          width: 22.97%;
          float: left;
          margin-right: 2.03%;
          position:relative;

          .feat-posts__thum {
            overflow:hidden;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
            img {
              z-index:0;
            }
          }
          .feat-posts__title {
            position: absolute;
            top: 0;
            z-index: 100;
            opacity:0;
            background:$main;
            transition:all .6s ease-in-out;
            transition-duration: .6s;
            height:100%;
            width:100%;

            h2 {
              color:#fff;
              padding:10px;
              margin: 0;
              position: relative;
              top: 50%;
              margin-top: -50px;
              font-size:.9em;
              font-weight:bold;
            }
          }
        }
      }

      a:hover {
        opacity:1;

        .feat-posts__title {
          opacity:.95;
        }
      }
    }
  }

    .kaerebalink-image {
        float: left;
        width: 150px;
    }
    .kaerebalink-info {
        margin-left: 170px;
    }

}//950









/* ブレイクポイント調整用 */
@media screen and (min-width: 1100px) {

    .variable {
        padding: 4px 20px;;
    }

    .breadcrumb {
        padding: 1em;
    }

    nav.menu {
        margin: 3px 1em 0 0 ;

        ul {

            li {
                padding:5px;
                font-size:.9em;
                overflow:hidden;

                &:hover {
                }

                a {
                    &:before {
                        display:block;
                        margin: 0;
                    }
                }
            }
        }
    }

}//1100








/*ブレイクポイント・パソコン用*/
@media screen and (min-width: 1280px) {

    .wrapper {
        padding: 0 6px;
    }

    .inner {
        max-width: 1024px;
        margin: 0 auto;
    }

    .head {
        padding: 0;
    }

    .variable {
        width: 1280px;
        margin: 0 auto;
        padding: 20px 30px;
        overflow: hidden;
    }

    nav.menu {
        margin-top: 0;
        ul {

            li {
                font-size:1em;
                padding:10px;

                a {
                    display: inline-block;
                    margin-left: -10px;

                    &:before {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .panel {
        padding: 0 0 2em;
    }

    /*トップページイメージセクションの部分*/
    .top-copy {
        margin-left: 2.1em;
        font-size: 1.2em;
    }

    .three-two {
        overflow: hidden;

        .main {
            margin-right: 30px;
            width: 39em;
        }
    }

    .img_container {
        height: 300px;
    }

    .social {
        margin: 10px auto ;
    }

}//1280


@media screen and (min-width: 1600px) {

    .inner {
        max-width: 1280px;
        margin: 0 auto;
    }

    .three-two {
        .main {
            width: 55em;
        }
    }

    .variable {
        width: 1600px;
    }

    .img_sec ,
    .content {
        max-width: 1600px;
        margin: 0 auto;
    }

    .top-copy {
        font-size: 1.4em;
    }

    .single section {
        margin-right: 120px;
    }
    .single .content-main .title {
        font-size: 2.3em;
    }

    .single .content-main .one-more-post .title {
        font-size: 1.5em;
    }

}


@import "state";
